	
<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      
      <title>Project</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
     
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      
      
   </head>

   <body class="main-layout">
   	{% block content %}
		<form action="{% url 'app:user_home' user.id %}" method=post enctype="multipart/form-data">
			{% csrf_token %}
			{% if user %}


   	<header>
  <div class="container_12">
    <div class="grid_12">
      <h1><a href="index.html"><img src="{% static 'app/images/logo.png' %}" alt=""></a></h1>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu_block">
    <div class="container_12">
      <div class="grid_12">
        <div class="socials"><a href="/delete/{{ user.id }}">Delete</a></div>
        <div class="autor"> 
        	<a href="{% url 'app:logout' %}">Logout</a></div>
        <nav class="">
          <ul class="sf-menu">
            <li class="current"><a href="index.html">Home</a></li>
            <li class="with_ul"><a href="{% url 'app:view_user_profile' user.id %}">View Profile</a></li>
            <li><a href="{% url 'app:change_password' user.id %}">Change Password</a></li>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>
      <div class="banner-slider">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-7">
                  <div id="slider_main" class="carousel slide" data-ride="carousel">
                     
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img src="{{ user.Photo.url }}">
                        </div>
                     </div>
                     
                     <a class="carousel-control-prev" href="#slider_main" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     </a>
                     <a class="carousel-control-next" href="#slider_main" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="full slider_cont_section">
                     <h4 style="text-transform: uppercase;">{{user.Firstname}} . {{ user.Lastname }}</h4>
                     <h3>Jack Blogger</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                     <div class="button_section">
                        <a href="about.html">Read More</a>
                        <a href="contact.html">Contact Us</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p style="float: right;">Designed by <a href="https://html.design/">@mruthavijesh</a></p>
               </div>
            </div>
         </div>
      </div>
      
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>

      {% endif %}
		</form>
		
		
	{% endblock %}
   </body>
</html>  